body {
    background-color: lightblue;
    width: 100%;
}

/* add width for the image to make sure it takes up only the entire width of the image parent (in our case - of the container that takes up 1/3 of the page) */

img {
    width: 100%;
}